.welcome {
  background-color: red;
  border: solid 1px black;
}

.loginInputActive {
  background-color: green;
}

.loginInputInactive {
  background-color: red;
}

.customContainer {
  background-color: white;
  border: solid 1px red;
}
